#main-container{
    width: 100%;
    height: 100px;
    background-color: yellow;


}


.pic{
    width: 100px;
    display: block; 
}


/* justify content */
/* row wise  */
/* 
start
:end
center
space-between
space-around
space-evenly */

/* align item  */
/* column wise  */

/* start  */
/* end */
/* center  */